@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
	
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
	
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
	cursor: pointer;
}

::placeholder {
	color: #666;
}


body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.5;
	overflow-x: hidden;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;

	input,
	textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: red;
		}

		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b,
strong {
	font-weight: bold;
}
p, h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
	padding: 0;
}

.sec-title {
	font-size: 32px;
}