@import "../vars";
@import "../grid"; // uncomment if using grid

/////////////////////////Custom Style////////////////////////
.main-header {
    background-color: $accent-color;
    padding-bottom: 50px;
    background: linear-gradient(90deg, rgba(106, 72, 161, 1) 0%, rgba(94, 80, 180, 1) 100%);

    .container {
        position: relative;
    }
    
    h1 {
        color: $text-color--white;
        font-size: 52px;
    }

    p {
        color: $text-color--white;
        margin-left: 83px;
        font-size: 22px;
    }

    &_menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        position: relative;
        z-index: 1;
        
        .logo {
            display: flex;
            align-items: center;
            img {
                height: 35px;
                width: auto;
                margin-right: 10px;
            }
            span {
                color: $text-color--white;
                font-size: 22px;
            }
        }

        nav {
            a {
                color: $text-color--white;
                font-size: 18px;
                text-decoration: none;
                margin-left: 10px;
            }

            .forkme {
                background-color: $bgcolor--white;
                padding: 6px 10px;
                border-radius: $default-border-radius;
                color: $accent-color;
                font-size: 16px;
            }
        }

    }

    &_info {
        width: 100%;
        margin-top: 70px;
        position: relative;
        z-index: 1;
        h1 {
            max-width: 600px;
            font-size: 36px;
            line-height: 1.5;
        }
    }

    ul {
        margin-top: 30px;
        padding-left: 20px;
        position: relative;
        z-index: 1;
        li {
            color: $text-color--white;
        }
    }

    &_steps {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 80px;
        z-index: 1;

        &-step {
            margin-right: 70px;

            img {
                width: 60px;
                opacity: .3;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .backup-bg {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        opacity: .15;
        z-index: 0;
    }
}

.databases {
    &_list {
        display: flex;
        justify-content: space-around;

        &-item {
            img {
                width: 100px;
                height: auto;
            }
        }
    }
}

.compress {
    &_list {
        display: flex;
        justify-content: space-around;

        &-item {
            img {
                width: 100px;
                height: auto;
            }

            h3 {
                font-size: 48px;
            }
        }
    }
}

.encription {
    &_list {
        display: flex;
        justify-content: space-around;

        &-item {
            h3 {
                font-size: 48px;
            }
        }
    }
}
///////////////////////////END custom style//////////////////

@import "../media"; // Always at the end
